elexis/src/ch/elexis/exchange/xchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from EMRSample.xml by XMLBuddy -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="SgamXChange"
           xmlns="SgamXChange"
           elementFormDefault="qualified">
	<xs:element name="XCHANGE" type="xChangeDescriptor"/>	
	<xs:element name="address" type="addressType">

		<xs:annotation>
			<xs:documentation>
				The contents of the Element is a label /
				address-sticker. Linebreaks can be
				&lt;lf&gt; or &lt;crlf&gt; 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="allergies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="allergy" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="allergy">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="confirmed" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="first" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="substance" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="analyse">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="image" maxOccurs="1"/>
				<xs:element ref="result" maxOccurs="1"/>
			</xs:choice>
			<xs:attribute name="abnormal" type="xs:boolean"/>
			<xs:attribute name="classification" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="date" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="lab" type="xs:integer" use="required"/>
			<xs:attribute name="normRange" type="xs:NMTOKEN"/>
			<xs:attribute name="param" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:NMTOKEN"/>
			<xs:attribute name="unit" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="analyses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="analyse" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="anamnesis">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="episode" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection">
		<xs:complexType>
			<xs:attribute name="identification" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contact" type="xChangeContact">
	</xs:element>
	<xs:element name="association">
		<xs:complexType>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="diagnosis">
		<xs:complexType>
			<xs:attribute name="code" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="codesystem" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="document" type="xChangeDocument">
	</xs:element>
	<xs:element name="documents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="document" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="episode" type="xChangeEpisode">
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="content" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="hint" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="id" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="medical">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="anamnesis"/>
				<xs:element ref="records"/>
				<xs:element ref="analyses"/>
				<xs:element ref="documents"/>
				<xs:element ref="medications"/>
				<xs:element ref="allergies"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="medication">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="dosage" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="id" type="xs:integer" use="required"/>
					<xs:attribute name="last" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="start" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="substance" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="medications">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="medication" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="text"/>
				<xs:element ref="episode" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="author" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="date" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="responsible" type="xs:NMTOKEN"/>
			<xs:attribute name="responsibleEAN" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="records">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="record" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="result" type="xs:string"/>
	<xs:element name="section">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="summary" type="xs:string"/>
	<xs:element name="text">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="section"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="zip" type="xs:string"/>

	<xs:complexType name="addressType" mixed="true">

		<xs:attribute name="street" type="xs:string"></xs:attribute>
		<xs:attribute name="zip" type="xs:string"></xs:attribute>
		<xs:attribute name="city" type="xs:string"></xs:attribute>
		<xs:attribute name="country" type="xs:string"></xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="xChangeDescriptor">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				ref="document">
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="unbounded"
				ref="contact">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xChangeContact">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded"
				ref="address">
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				ref="connection">
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				ref="association">
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" ref="medical"></xs:element>
		</xs:choice>
		<xs:attribute name="birthdate" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="firstname" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute use="required" name="id" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="lastname" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="middlename" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="name" type="xs:string"></xs:attribute>
		<xs:attribute name="salutation" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="sex" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="title" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute use="required" name="type" type="xs:NMTOKEN"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="xChangeDocument">
		<xs:sequence>
			<xs:element minOccurs="0" ref="summary"></xs:element>
		</xs:sequence>
		<xs:attribute name="content" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="creatorID" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="creatorName" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute use="required" name="date" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="dest" type="xs:integer"></xs:attribute>
		<xs:attribute name="hint" type="xs:string"></xs:attribute>
		<xs:attribute use="required" name="id" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="origin" type="xs:integer"></xs:attribute>
		<xs:attribute name="record" type="xs:NMTOKEN"></xs:attribute>
		<xs:attribute name="responsible" type="xs:integer"></xs:attribute>
		<xs:attribute name="title" type="xs:string"></xs:attribute>
		<xs:attribute name="type" type="xs:string"></xs:attribute>
		<xs:attribute name="version" type="xs:NMTOKEN"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="xChangeEpisode">
		<xs:sequence>
			<xs:element minOccurs="0" ref="diagnosis"></xs:element>
			<xs:element minOccurs="0" ref="text"></xs:element>
			<xs:element name="insurance" type="insuranceType"></xs:element>
		</xs:sequence>
		<xs:attribute name="begin" type="xs:date"></xs:attribute>
		<xs:attribute use="required" name="id" type="xs:string"></xs:attribute>
		<xs:attribute name="active" type="xs:boolean"></xs:attribute>
		<xs:attribute name="title" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="insuranceType">


		<xs:sequence>
			<xs:element name="contract" type="tariffType"
				maxOccurs="unbounded" minOccurs="1">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="contactref" type="xs:string"></xs:attribute>
		<xs:attribute name="reason">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="disease"></xs:enumeration>
					<xs:enumeration value="accident"></xs:enumeration>
					<xs:enumeration value="maternity"></xs:enumeration>
					<xs:enumeration value="prevention"></xs:enumeration>
					<xs:enumeration value="birthdefect"></xs:enumeration>
					<xs:enumeration value="other"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>


		<xs:attribute name="publicDiagnosis" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="tariffType">
		<xs:attribute name="country">
			<xs:annotation>
				<xs:documentation>
					ISO Countrycode for the country, that tariff applies
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:maxLength value="3"></xs:maxLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string"></xs:attribute>
		<xs:attribute name="caseID" type="xs:string"></xs:attribute>
	</xs:complexType>
	
    <xs:attribute name="contactref" type="xs:string"></xs:attribute>
</xs:schema>
